################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Samotorcan.HtmlUi.sln.GhostDoc.xml
/src/Samotorcan.HtmlUi.Core/Resources/Scripts/references.js
/src/Samotorcan.HtmlUi.Core/Resources/Scripts/references.js.map
