<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Index.html</h1>
    <img src="/Images/home.png" />
    <div ng-controller="GreetingController">
        <input type="text" ng-model="firstNumber" />
    </div>

    <script src="/Scripts/lodash.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/htmlUi.angular.js"></script>
    <script src="/Scripts/main.js"></script>
</body>
</html>