<!DOCTYPE html>

<html ng-app="htmlUiApp">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/lodash.js"></script>
    <script src="/Scripts/html-ui.js"></script>
    <script src="/Scripts/main.js"></script>
</head>
<body>
    <h1>Index.html</h1>
    <img src="/Images/home.png" />
    <div ng-controller="GreetingController">
        <input type="number" ng-model="firstNumber" />
        <input type="number" ng-model="secondNumber" />
        <button type="button" ng-click="sum()">sum</button>
        <button type="button" ng-click="sum1()">sum1</button>
        <button type="button" ng-click="someArray[2] = 123; someList[2] = '746'; result = 12;">add to collection</button>
        <input type="number" ng-model="result" />
    </div>
</body>
</html>