<!DOCTYPE html>

<html ng-app="todoListApp">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/Styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/Styles/todo-list.css" />
</head>
<body class="todo-list" ng-controller="todoListController" ng-cloak>
    <h1>Todo example app</h1>

    <input class="add" type="text" ng-model="todo" ng-keypress="$event.keyCode == 13 && addEditTodo()" focus-on="input" />

    <div class="todos">
        <div class="todo" ng-repeat="todo in todos">
            <div class="text todo-container">{{todo.text}}</div>
            <div class="edit todo-container">
                <button class="edit-button" type="button" ng-click="editTodo($index)">edit</button>
            </div>
            <div class="remove todo-container">
                <button class="remove-button" type="button" ng-click="removeTodo($index)">remove</button>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/htmlUi.angular.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls.min.js"></script>
    <script src="/Scripts/todo-list.js"></script>
</body>
</html>